/* Apna College DOM Video (from Javascript 12hrs) */

.heading-class{
    color:blueviolet;
    background-color: yellow;
}
body{
    background-color: pink;
}
button{
    background-color: lightseagreen;
    color: white
}